body{
    background-color: black;
    color:white;
    background-image: url(./assets/fundo-1.jpg);
}

.curriculo-container{
    background-color: rgb(0, 0, 0, 0.75);
    
    
    margin:0 auto;
    padding:20px;
    width:500px;
    border: 2px solid aqua;
    box-shadow: 0 0 15px aqua;
    opacity: 0px;
}

h1, h3, p, li {
    color:aqua;
    text-shadow: 0 0 15px aqua;
}