/* Corpo da Página */
body{
    background-color: black;
    color:white;
    background-image: url(./assets/fundo-1.jpg);
    margin: 0;
    padding: 0;
    
    /* Fonte Personalizada */
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
}

/* Container do curriculo */
.curriculo-container{
    background-color: rgb(0, 0, 0, 0.75); /*Cor de fundo transparente do curriculo*/
    margin:auto;
    padding:20px;
   width: 40%;
    border: 2px solid aqua; /*Cor e efeito NEON do Curriculo*/
    box-shadow: 0 0 15px aqua; 
}

/* Efeito NEON nos elementos h1, h3, p, li, a. */
h1, h3, p, li , a{
    color:aqua;
    text-shadow: 0 0 15px aqua;
}

/* estilo da tag ancora */
.dados_pessoais  a{
  text-decoration: none;
  color:aquamarine;
  text-shadow: 0 0 15px aquamarine;
}

/* Lista */
ul{
    list-style-type: square;   
    margin: 0;
    padding: 0; 
}

ul img{
    vertical-align: middle;
}
li{
    display: inline;
    padding-left: 15px;
}

/* Responsividade */


