/* Corpo da Página */
body {
    background-color: black;
    color: white;
    background-image: url(./assets/fundo-1.jpg);
    margin: 0;
    padding: 0;

    /* Fonte Personalizada */
    font-family: 'Share Tech', sans-serif;
    font-size: 18px;
}

/* Container do curriculo */
.curriculo-container {
    background-color: rgb(0, 0, 0, 0.75);
    /*Cor de fundo transparente do curriculo ultimo valor = opacidade. */
    margin: auto;
    width: 550px;
    padding: 15px;
    border: 2px solid aqua;
    /*Borda e cor*/
    box-shadow: 0 0 15px aqua;
}

.curriculo-container, p {
    text-align: justify;
}

.curriculo-container h1{
    text-align: center;
}

.curriculo-container .linkedin:hover{
color: green;
text-shadow: 0 0 15px green;

}
/* Efeito NEON nos elementos h1, h3, p, li, a. */
h1,
h3,
p,
li,
a {
    color: aqua;
    text-shadow: 0 0 15px aqua;
}

/* estilo da tag ancora (a) */
.dados_pessoais .linkedin {
    text-decoration: none;
    color: aquamarine;
    text-shadow: 0 0 15px aquamarine;
}

/* Lista */
ul {
    margin: 0;
    padding: 0;
}

ul img {
    vertical-align: middle;
}

li {
    display: inline;
    padding-left: 15px;
}

/* Responsividade */